body{
    margin: 0px;
    padding:0px;
    background-color: #252627; 
    font-family: 'Montserrat', sans-serif;
}

.header{
    margin-top: 15px;
    margin-bottom: 0px;
    color: whitesmoke;
    float: right;
    width: 100%;
    align-items: center;

}

.header ul{
    list-style: none;
    margin-right: 25px;
    text-transform: uppercase;
}

.header li{
    margin-top: 29px;
    display: inline;
    margin-right: 65px;
    float: right;
    
}

.header a{
    padding: 10px;
    text-decoration: none;
    color: whitesmoke;
}

.header a:visited{
    text-decoration: none;
    color: whitesmoke;

}

.header a:active{
    text-decoration: underline;
    text-decoration-color: white;
    
}

#Logo{
    margin: 0;
    padding: 9px;

}

hr{
    margin-bottom: 0;
    height: 5px;
    background-color: white;

}

.container{
    width: 80%;
    margin: auto;

}

.inputSection{
   
}

.infoBox{
    margin: auto;
    margin-top: 40px;
    width: 85%;
    height: auto;
    padding-bottom: 15px;
    background-color: grey;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows:  repeat(2, auto);
    border-radius: 10px;

}

.infoInputs{
    margin: auto;
    width: 60%;
    
}

.basicInfo{
    grid-column: 1;

}

.importantInfo{
    grid-column: 2;
}

.infoInputs p{
    margin-bottom:0;
    margin-top: 25px;

}

input{
    width: 90%;
    height: 25px;

}

.buttons{ 
    grid-column: 2;
    text-align: center;

}

#CVV{
    width: 90px
}

#signup{
    font-size: small;
    
}

#header{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 40px;
    grid-column: 1/3;

}

.infobox #check1{
    float: right;
    margin: 0;
    padding: 0;
}

.infobox button{
    background-color: goldenrod; 
    border: 3px solid black;
    border-radius: 5px;
    color: black;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer

}

#checkname{
    color: red;
    font-size: medium;
}